# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# ignore matrix driver files
TstBG-Up.bmp
TstBGCol.bmp
isp_hub75_7seg.spin2
isp_hub75_anlyCheck.spin2
isp_hub75_color.spin2
isp_hub75_demo7seg.spin2
isp_hub75_demoColor.spin2
isp_hub75_demoMultiPanel.spin2
isp_hub75_demoText.spin2
isp_hub75_display.spin2
isp_hub75_display_bmp.spin2
isp_hub75_fonts.spin2
isp_hub75_hwGeometry.spin2
isp_hub75_panel.spin2
isp_hub75_rgb3bit.spin2
isp_hub75_screenAccess.spin2
isp_hub75_screenUtils.spin2
isp_hub75_scrollingText.spin2
isp_hub75_segment.spin2
isp_hub75_demoMorphSeg.spin2
isp_hub75_morph7seg.spin2
isp_hub75_morphCounters.spin2
isp_hub75_morphSegment.spin2

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
